.gallery {
  display: flex;
  flex-direction: column;
  // flex-wrap: wrap;
  gap: 30px;
  list-style: none;
}

.gallery__item {
  flex-basis: 30%;
  height: 400px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
